<div class="header">{{ 'shop.title1' | translate | uppercase }} <span>{{ 'shop.title2' | translate | uppercase }}</span></div>
<div class="main">
    <div class="left">
        <div class="filters">
            <div class="title">{{ 'shop.filters.title' | translate }}</div>
            <div class="accordion">
                <my-accordion [title]="'shop.filters.game'">
                    <div class="accordion-content">
                        <my-form #gamesFormComponent [form]="gamesForm" (formChanged)="updateSearch()"></my-form>
                    </div>
                </my-accordion>
            </div>
            <div class="accordion">
                <my-accordion [title]="'shop.filters.type'">
                    <div class="accordion-content">
                        <my-form #typesFormComponent [form]="typesForm" (formChanged)="updateSearch()"></my-form>
                    </div>
                </my-accordion>
            </div>
            <div class="accordion">
                <my-accordion [title]="'shop.filters.language'">
                    <div class="accordion-content">
                        <my-form #languagesFormComponent [form]="languagesForm" (formChanged)="updateSearch()"></my-form>
                    </div>
                </my-accordion>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="spacer start"><div></div></div>
        <div class="cards" *ngIf="products.length">
            <my-card *ngFor="let product of products" [product]="product"></my-card>
        </div>
        <div *ngIf="!products.length" class="no-items">
            {{ 'error.ER_NO_ITEMS' | translate }}
        </div>
    </div>
</div>