.main {
    background-color: var(--primary);
    top: 0;
    width: 100%;

    .hint {
        border-bottom: 2px solid var(--accent);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.25rem;
        color: var(--light);
        font-size: 0.75rem;
    }

    .body {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0.5rem 1rem;
        border-bottom: 2px solid var(--accent);

        .logo {
            width: 30%;
            display: flex;
            align-items: center;
            gap: 0.5rem;
            cursor: pointer;

            .icon {
                width: 3rem;
                height: 2rem;
                background-color: var(--accent);
            }

            .text {
                width: 6rem;
                height: 1rem;
                background-color: var(--accent);
            }
        }
        .search {
            width: 40%;
        }
        .actions {
            width: 30%;
            display: flex;
            justify-content: end;
            align-items: center;
            gap: 1rem;

            .loginRegisterButtons {
                color: var(--light);
                font-weight: bold;
                cursor: pointer;
            }

            .user {
                width: 2rem;
                height: 2rem;
                border-radius: 100%;
                background-color: red;
                cursor: pointer;
            }
        }
    }

    .tabs {
        display: flex;
        border-bottom: 2px solid var(--accent);

        .tab {
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--light);
            cursor: pointer;
            padding: 0.5rem 1rem;
        }
        .tab:hover {
            background-color: var(--secondary);
        }
    }

    .breadcrumbs {
        background-color: var(--dark);
        color: var(--white);
        padding: 0.5rem 1rem;
        border-bottom: 2px solid var(--accent);
        font-size: 0.75rem;
    }
}