<div class="main">
    <div class="hint">{{ getTranslation('header.hint') }}</div>
    <div class="body">
        <ng-container *ngTemplateOutlet="logo"></ng-container>
        <ng-container *ngTemplateOutlet="search">// TODO: inserisci ricerca vera</ng-container>
        <ng-container *ngTemplateOutlet="actions"></ng-container>
    </div>
    <div class="tabs" *ngIf="!isSmallSize()">
        <div class="tab" *ngFor="let tab of tabs" (click)="navigateTab(tab.path)">{{ getTranslation(tab.label) | uppercase }}</div>
    </div>
    <div class="breadcrumbs" *ngIf="!isSmallSize() && breadcrumbs.length">
        <ng-container *ngFor="let breadcrumb of breadcrumbs; index as $i, last as $last">
            <span (click)="!$last ? navigateBreadcrumb($i) : null" style="cursor: pointer;">{{ mapBreadcrumb(breadcrumb) | titlecase }}</span>
            <span *ngIf="!$last">&nbsp;>&nbsp;</span>
        </ng-container>
    </div>
</div>

<!-- <div class="floatingHeader" *ngIf="!isSmallSize()" [class.disappear]="setDisappearingAnimation" [class.appear]="setAppearingAnimation" [class.hidden]="!showing" [class.shown]="showing">
    <div class="body">
        <ng-container *ngTemplateOutlet="logo"></ng-container>
        <ng-container *ngTemplateOutlet="search"></ng-container>
        <ng-container *ngTemplateOutlet="actions"></ng-container>
    </div>
</div> -->

<ng-template #logo>
    <div class="logo" (click)="navigateHome()">
        <img src="../../../assets/images/logo.png" alt="logo" class="icon">
        <img src="../../../assets/images/brand.png" alt="brand" class="brand" *ngIf="!isSmallSize()">
    </div>
</ng-template>

<ng-template #search>
    <div class="search">
        <input type="text" [placeholder]="getTranslation('header.search.placeholder')">
    </div>
</ng-template>

<ng-template #actions>
    <div class="actions">
        <div class="favourites" (click)="openFavorites()" *ngIf="!getFavoritesSize()" [myFeature]="'favourites'"><img src="../../../../../assets/icons/cuore_vuoto.svg" alt="icon"></div>
        <div class="favourites" (click)="openFavorites()" *ngIf="getFavoritesSize()" [myFeature]="'favourites'"><img src="../../../../../assets/icons/cuore_pieno.svg" alt="icon"></div>

        <div class="cart" (click)="openCart()" [myFeature]="'cart'" *ngIf="!getCartSize() as siz"><img src="../../../../../assets/icons/carrello_vuoto.svg" alt="icon"></div>
        <div class="cart" (click)="openCart()" [myFeature]="'cart'" *ngIf="getCartSize() as size"><img src="../../../../../assets/icons/carrello_pieno.svg" alt="icon"><div class="quantity">{{ size }}</div></div>

        <div class="user" (click)="goToUser()" [myFeature]="'userIcon'">
            <img *ngIf="getUserAvatar()" [src]="getUserAvatar()" alt="icon">
            <img *ngIf="!getUserAvatar()" src="../../../../../assets/icons/profilo.svg" alt="icon">
        </div>
        <button class="secondary" [myFeature]="'loginRegisterButtons'" (click)="navigateLogin()">{{ getTranslation('header.actions.signIn') }}</button>
    </div>
</ng-template>