.main {
    background-color: var(--primary);
    top: 0;
    width: 100%;
    position: relative;
    z-index: 2;

    .hint {
        border-bottom: var(--border);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5rem;
        color: var(--accent-light);
        font-size: 0.65rem;
    }

    .tabs {
        display: flex;
        border-bottom: var(--border);

        .tab {
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--white);
            cursor: pointer;
            padding: 1rem 2rem;
            font-weight: var(--bold);
            font-size: 0.75rem;
        }
        .tab:hover {
            background-color: var(--secondary);
        }
    }

    .breadcrumbs {
        background-color: var(--dark);
        color: var(--accent-dark);
        padding: 0.5rem 2rem;
        border-bottom: var(--border);
        font-size: 0.75rem;
    }
}

.floatingHeader {
    position: sticky;
    width: 50%;
    margin-top: -5rem;
    z-index: 1;
    top: 1.5rem;
    left: 50%;
    background-color: var(--primary);
    border-radius: var(--radius);
    border: var(--border);
    opacity: 0;

    .body {
        border: none;
    }
}

.hidden {
    transform: translate(-50%, -200%);
}

.shown {
    transform: translate(-50%, 0);
    opacity: 1;
}

.appear {
    animation: show 0.2s ease-in;
    opacity: 1;
}

.disappear {
    animation: hide 0.2s ease-out;
}

@keyframes show {
    0% {
        transform: translate(-50%, -200%);
    }
    100% {
        transform: translate(-50%, 0);
    }
}

@keyframes hide {
    0% {
        transform: translate(-50%, 0);
    }
    100% {
        transform: translate(-50%, -200%);
    }
}

.body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 2rem;
    border-bottom: var(--border);

    .logo {
        width: 30%;
        height: 2rem;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        cursor: pointer;
        overflow: visible;

        .icon {
            width: 5rem;
        }

        .brand {
            width: 9rem;
        }
    }
    .search {
        width: 40%;
    }
    .actions {
        width: 30%;
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 1rem;

        img {
            width: 1.5rem;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .loginRegisterButtons {
            color: var(--accent-light);
            font-weight: var(--bold);
            cursor: pointer;
        }

        .user {
            width: 3rem;
            height: 3rem;
            border-radius: 100%;
            background-color: red;
            cursor: pointer;
        }
    }
}
