.card {
    border: var(--border-light);
    width: 17rem;
    height: 25rem;
    border-radius: var(--radius-round);
    position: relative;
    background-color: var(--dark);
    cursor: pointer;

    .heart {
        position: absolute;
        top: 10px;
        right: 10px;

        img {
            width: 1.5rem;
        }
    }

    .top {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50%;

        img {
            max-width: 90%;
            max-height: 90%;
        }
    }

    .bottom {
        height: 50%;
        background-color: var(--secondary);
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 0 0 var(--radius-round) var(--radius-round);

        .brand {
            font-size: 0.75rem;
            color: var(--accent-dark);
        }

        .title {
            margin: 0.5rem 0;
            font-size: 1.25rem;
        }

        .price {
            color: var(--accent-dark);
            font-weight: var(--bold);
            margin-bottom: 1rem;
        }

        .actions {
            display: flex;
            justify-content: space-between;
            align-items: end;

            .availability {
                font-size: 0.75rem;
                color: var(--green);
            }

            button {
                color: var(--pale);
                background-color: var(--orange);
                font-size: 0.5rem;
                padding: 0.25rem 0.5rem;
                font-weight: var(--bold);

                img {
                    width: 1rem;
                }
            }
        }
    }
}