<div class="card">
    <div class="heart" (click)="toggleFavorite()" [myFeature]="'favourites'">
        <img *ngIf="!isFavorite()" src="../../../../../assets/icons/cuore_vuoto.svg" alt="icon">
        <img *ngIf="isFavorite()" src="../../../../../assets/icons/cuore_pieno.svg" alt="icon">
    </div>
    <div class="top" (click)="navigate()">
        <img [src]="product?.imageUrl" alt="product">
    </div>
    <div class="bottom">
        <div>
            <div class="brand" (click)="navigate()">{{ product?.brand }}</div>
            <div class="title" (click)="navigate()">{{ product?.name }}</div>
        </div>
        <div>
            <div class="price">{{ product?.price | currency:'EUR' }}</div>
            <div class="actions">
                <div class="availability" *ngIf="product?.availability">{{ 'home.featured.card.available' | translate }}</div>
                <div class="unavailability" *ngIf="!product?.availability">{{ 'home.featured.card.unavailable' | translate }}</div>
                <button class="no-border" [myFeature]="'cart'" (click)="addToCart()">{{ 'home.featured.card.add_to_cart' | translate | uppercase }} <img src="../../../../../assets/icons/carrello_vuoto.svg" alt="icon"></button>
            </div>
        </div>
    </div>
</div>