<div class="card" (click)="navigate()">
    <div class="heart" [myFeature]="'favourites'"><img src="../../../../../assets/icons/cuore_vuoto.svg" alt="icon"></div>
    <div class="top">
        <img src="../../../../../assets/images/box.webp" alt="product">
    </div>
    <div class="bottom">
        <div>
            <div class="brand">Pokémon - ETB</div>
            <div class="title">Segreto fiabesco</div>
        </div>
        <div>
            <div class="price">{{ 29.90 | currency:'EUR' }}</div>
            <div class="actions">
                <div class="availability">{{ 'home.featured.card.available' | translate }}</div>
                <button [myFeature]="'cart'">{{ 'home.featured.card.add_to_cart' | translate | uppercase }} <img src="../../../../../assets/icons/carrello_vuoto.svg" alt="icon"></button>
            </div>
        </div>
    </div>
</div>