:host {
    display: flex;
    flex: 1;
}

.main {
    width: 100%;
    height: 100%;
    background-image: url('../../../assets/images/login.png');
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;

    .container {
        width: 40%;
        background-color: var(--primary);
        padding: 1rem 3rem;
        border-radius: 5px;
        border: var(--border-light);

        .logo {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.5rem;
            overflow: visible;
            height: 15rem;
            margin-top: -3rem;

            .icon {
                width: 12rem;
            }

            .brand {
                width: 12rem;
            }
        }

        .title {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 2rem;
            color: var(--accent-dark);
        }

        .form {
            padding: 1rem 0;
        }

        .button {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .hint {
            margin-top: 1rem;
            text-align: center;
            font-size: 0.75rem;
            color: var(--white);
        }
    }
}