<div class="main">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/images/logo.png" alt="logo" class="icon">
            <img src="../../../assets/images/brand.png" alt="brand" class="brand">
        </div>
        <div class="title">
            <div>{{ 'login.title' | translate | uppercase }}</div>
        </div>
        <div class="form">
            <my-form [form]="loginForm" (formChanged)="checkErrors($event)"></my-form>
        </div>
        <div class="button">
            <button [disabled]="!loginForm.valid" (click)="login()">{{ 'form.actions.login' | translate | uppercase }}</button>
        </div>
        <div class="hint">{{ 'login.hint1' |translate }}&nbsp;<a (click)="navigateRegister()">{{ 'login.hint2' | translate }}</a></div>
    </div>
</div>