<div *ngIf="form" class="form">
    <ng-container *ngFor="let control of form.controls">
        <div class="input-container">
            <span class="label">{{ (control.label || '') | translate | uppercase }}</span>
            <div class="input-element">
                <input #inputElement (blur)="updateFormValueAndValidity()" (focus)="control.touched = true" (input)="updateValue(control, inputElement)" [type]="control.type" [required]="control.required" [id]="control.selector" [placeholder]="(control.placeholder || '') | translate">
                <div *ngIf="control.errors?.length" class="icon">x</div>
            </div>
            <span class="errors">
                <div *ngFor="let error of control.errors">{{ error | translate}}</div>
            </span>
        </div>
    </ng-container>
</div>