<table>
    <thead>
        <th>{{ 'user.orders.table.id' | translate }}</th>
        <th>{{ 'user.orders.table.date' | translate }}</th>
        <th>{{ 'user.orders.table.total' | translate }}</th>
        <th>{{ 'user.orders.table.ship' | translate }}</th>
        <th>{{ 'user.orders.table.open' | translate }}</th>
        <th>{{ 'user.orders.table.status' | translate }}</th>
    </thead>
    <tbody>
        <tr *ngFor="let order of getOrders()">
            <td>{{ order.id }}</td>
            <td>{{ order.createdAt | date:'dd/MM/yyyy HH:mm' }}</td>
            <td>{{ order.total | currency:'EUR' }}</td>
            <td>
                <div class="mark" *ngIf="order.ship"><img src="../../../../../assets/icons/x.svg" alt="icon"></div>
            </td>
            <td>
                <div class="mark" *ngIf="order.open"><img src="../../../../../assets/icons/x.svg" alt="icon"></div>
            </td>
            <td>
                <div [class]="'tag s' + order.status">{{ 'user.orders.status.' + order.status | translate }}</div>
            </td>
        </tr>
    </tbody>
</table>