div {
    border-radius: 25px;
    padding: 0.5rem 1rem;
    width: fit-content;
}

.special {
    border: 1px solid var(--accent-dark);
    color: var(--accent-dark);
    background-color: var(--accent-dark-transparent);
}