<!-- <div class="showcase">
    <my-showcase></my-showcase>
</div> -->

<div class="welcome">
    <div class="back">
        <div>
            <my-tag [text]="'home.welcome.tag'" [type]="'special'"></my-tag>
            <div class="welcome-text">{{ 'home.welcome.text1' | translate }}<br>{{ 'home.welcome.text2' | translate }} <span>{{ 'home.welcome.text3' | translate }}</span></div>
            <div class="info">{{ 'home.welcome.info' | translate }}</div>
            <button (click)="navigateShop()">{{ 'home.welcome.explore' | translate }}</button>
        </div>
    </div>
</div>

<div class="featured">
    <my-featured></my-featured>
</div>