@import url('https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// Variables will be overwritten by themes.service.ts
:root {
    --white: #ccc;
    --black: #111;
    --primary: #120a06;
    --secondary: #2A1F15;
    --accent-light: #F0CEA1;
    --accent-dark: #d8ac6b;
    --accent-dark-transparent: #d8ac6b25;
    --pale: #695946;
    --dark: #0e0a0a;
    --green: #4A5E3B;
    --orange: #7B4425;
    --light: #CFB79D;
    --danger: #dd1e38;
    --warning: #ac8815;
    --success: #3d612e;
    --border: 2px solid var(--pale);
    --border-light: 2px solid var(--accent-light);
    --border-dark: 2px solid var(--accent-dark);
    --border-transparent: 2px solid transparent;
    --radius: 5px;
    --radius-round: 10px;
    --bold: 700;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: var(--primary);
    color: var(--white);
    font-family: "Caudex", serif;
    min-width: 1920px; // TODO: rimuovere e fare sito responsive
}

.no-opacity {
    opacity: 0;
}

input {
    width: 100%;
    background-color: var(--secondary);
    color: var(--pale);
    outline: none;
    border: var(--border);
    border-radius: var(--radius);
    padding: 0.5rem;

    &.dark {
        background-color: var(--primary);
        border: var(--border-transparent);
    }
}

button {
    padding: 0.5rem 1rem;
    outline: none;
    border: none;
    background-color: var(--accent-light);
    border: var(--border-light);
    border-radius: var(--radius);
    color: var(--dark);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    &.no-border {
        border: var(--border-transparent) !important;
    }
}
button.text {
    background-color: var(--secondary);
    color: var(--accent-dark);
    border: var(--border-transparent);
}
button.secondary {
    background-color: var(--secondary);
    color: var(--accent-dark);
    border: var(--border-dark);
}
button:disabled {
    background-color: var(--dark);
    color: gray;
    cursor: not-allowed;
}

a {
    color: var(--accent-dark);
    cursor: pointer;
}

.col-1 {
    width: 8.3% !important;
}
.col-1 {
    width: 16.6% !important;
}
.w-25, .col-3 {
    width: 25% !important;
}
.col-4 {
    width: 33.3% !important;
}
.col-5 {
    width: 41.6% !important;
}
.w-50, .col-6 {
    width: 50% !important;
}
.col-7 {
    width: 58.3% !important;
}
.col-8 {
    width: 66.6% !important;
}
.w-75, .col-9 {
    width: 75% !important;
}
.col-10 {
    width: 83.3% !important;
}
.col-11 {
    width: 91.6% !important;
}
.w-100, .col-12 {
    width: 100% !important;
}

.h-25 {
    height: 25% !important;
}
.h-50 {
    height: 50% !important;
}
.h-75 {
    height: 75% !important;
}
.h-100 {
    height: 100% !important;
}

.spacer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    div {
        width: 95%;
        height: 1px;
        background-color: var(--pale);
    }
}

.spacer.start {
    justify-content: start;
}