// Variables will be overwritten by themes.service.ts
:root {
    --white: #ccc;
    --black: #111;
    --primary: #120a06;
    --secondary: #2A1F15;
    --accent-light: #F0CEA1;
    --accent-dark: #d8ac6b;
    --accent-dark-transparent: #d8ac6b25;
    --light: #695946;
    --dark: #0e0a0a;
    --danger: #721f2a;
    --success: #3d612e;
    --border: 1px solid var(--light);
    --border-light: 1px solid var(--accent-light);
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: var(--primary);
    color: var(--white);
    font-family: Arial, Helvetica, sans-serif;
}

.no-opacity {
    opacity: 0;
}

input {
    width: 100%;
    background-color: var(--secondary);
    color: var(--light);
    outline: none;
    border: 1px solid var(--light);
    border-radius: 5px;
    padding: 0.5rem;
}

button {
    padding: 0.5rem 1rem;
    outline: none;
    border: none;
    background-color: var(--accent-light);
    border-radius: 5px;
    color: var(--dark);
    cursor: pointer;
}
button.secondary {
    background-color: var(--secondary);
    color: var(--accent-dark);
}
button:disabled {
    background-color: var(--dark);
    color: gray;
    cursor: not-allowed;
}

a {
    color: var(--accent-dark);
    cursor: pointer;
}

.w-25 {
    width: 25%;
}

.w-50 {
    width: 50%;
}

.w-75 {
    width: 75%;
}

.w-100 {
    width: 100%;
}