@import url('https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// Variables will be overwritten by themes.service.ts
:root {
    --white: #ccc;
    --black: #111;
    --primary: #120a06;
    --secondary: #2A1F15;
    --accent-light: #F0CEA1;
    --accent-dark: #d8ac6b;
    --accent-dark-transparent: #d8ac6b25;
    --light: #695946;
    --dark: #0e0a0a;
    --green: #4A5E3B;
    --orange: #7B4425;
    --pale: #CFB79D;
    --danger: #721f2a;
    --warning: #7e7e0f;
    --success: #3d612e;
    --border: 1px solid var(--light);
    --border-light: 1px solid var(--accent-light);
    --radius: 5px;
    --radius-round: 10px;
    --bold: 700;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: var(--primary);
    color: var(--white);
    font-family: "Caudex", serif;
}

.no-opacity {
    opacity: 0;
}

input {
    width: 100%;
    background-color: var(--secondary);
    color: var(--light);
    outline: none;
    border: 1px solid var(--light);
    border-radius: var(--radius);
    padding: 0.5rem;
}

button {
    padding: 0.5rem 1rem;
    outline: none;
    border: none;
    background-color: var(--accent-light);
    border-radius: var(--radius);
    color: var(--dark);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
button.secondary {
    background-color: var(--secondary);
    color: var(--accent-dark);
}
button:disabled {
    background-color: var(--dark);
    color: gray;
    cursor: not-allowed;
}

a {
    color: var(--accent-dark);
    cursor: pointer;
}

.w-25 {
    width: 25%;
}

.w-50 {
    width: 50%;
}

.w-75 {
    width: 75%;
}

.w-100 {
    width: 100%;
}

.h-25 {
    height: 25%;
}

.h-50 {
    height: 50%;
}

.h-75 {
    height: 75%;
}

.h-100 {
    height: 100%;
}

.spacer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    div {
        width: 95%;
        height: 1px;
        background-color: var(--light);
    }
}

.spacer.start {
    justify-content: start;
}